body{background-color:#68cdd5;
}
.task31{
    margin-top: 30px;
    margin-left: 20px;
}
.task32{
    margin:100px auto;
    text-align: center;
}
p{
    color:#fff;
    text-align: center;
    padding:18%;
}
.task33{
    float:left;
    width: 119px;
    height: 126px;
}
.task34{
    float:right;
    width: 104px;
    height: 126px;
}